build/
devel/
logs/
.catkin_tools/
frames.pdf
.catkin_workspace
src/CMakeLists.txt
src/contest/CMakeLists.txt.user
Robot2020.workspace
src/build-contest-unknown-Default/
src/build-contest-Desktop-Default/
src/build-contest-Desktop_Qt_5_14_2_GCC_64bit-Debug/
src/wei_bag.bag
